/node_modules
/**.js
/**.js.*
/plugin/**.js
/plugin/**.js.*
/cypress/support/*.js
/cypress/support/*.map
/cypress/integration/*.js
/cypress/integration/*.map
/cypress/e2e/*.js
/cypress/e2e/*.map
/dist
