tmp
*.log
yarn.lock
.vscode
package-lock.json
.eslintrc

cypress.json
cypress
node_modules
webpack.config.*
sftpClient.*
plugin/**.js
plugin/**.js.*
/cypress/support/*.js
/cypress/support/*.map
/cypress/integration/*.js
/cypress/integration/*.map